@import "./theme.less";

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 7%, 0);
    transform: translate3d(0, 7%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.animated.rightMod {
  -webkit-animation: fadeInRight 0.4s ease 0s;
  animation: fadeInRight 0.4s ease 0s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.animated.mainMod {
  -webkit-animation: fadeInUp 0.4s ease 0s;
  animation: fadeInUp 0.4s ease 0s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.animated.mainMod:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.animated.mainMod:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animated.mainMod:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animated.mainMod:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animated.mainMod:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.mainMod:nth-child(6) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.home_wrap {
  width: 100%;
  font-size: 14px;
  position: relative;
  // margin: @g-header-height 0 0 0;
  .ocr_title {
    text-align: center;
    height: 432px;
    background: url("../images/banner/banner_ocr.jpg") no-repeat 0 center;
    background-size: cover;
    h1 {
      font-size: 36px;
      font-weight: 400;
      margin: 0 0 20px 0;
      padding: 120px 0 0 0;
    }
    p {
      font-size: 24px;
    }
  }

  .ocr_main {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    position: relative;
  }
  .iot_category_content {
    margin: 40px 0 0 0;
    overflow: auto;
    .iot_title {
      height: 430px;
      text-align: center;
      background: url("../images/home/esl.png") no-repeat 0 center;
      background-size: cover;
      h1 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 400;
        margin: 0 0 20px 0;
        padding: 100px 0 0 0;
      }
      ul {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
      }
      li {
        color: #ffffff;
        font-size: 24px;
        text-align: left;
      }
    }
  }
  .ai_category_content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 120px 0 100px 0;
    .iot_h1 {
      margin: 60px 0 0 0;
    }
    .column-item {
      h1 {
        font-size: 36px;
        margin: 0 0 20px 0;
      }
      p {
        font-size: 24px;
        color: #9a9a99;
      }
      .ai_video {
        video {
          width: 100%;
        }
      }
    }
  }
}
